body{
    background-color: #CC8B86;
}
.rectangulo{
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: center;
    background-color: #F9EAE1;
    border-radius: 20px;
    align-content: center;
}
#carrito{
    display: flex;
    flex-wrap: wrap;
    background-color: #F9EAE1;
    border-color:black ;
    padding: 10px
}
.item{
    width: 75px;
    height: 100px;
    background-color: #D1BE9C;
    border-radius: 20px; 
    text-align: center;
    line-height: 100px;
    font-size: 10px;
    border: 2px solid black;
}
