<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/tiendadiseño.css">
    <link rel="icon" href="../Statics/img/LogoA.jpg">
    <title>Flor De Seis</title>
</head>
<body>
    <div class="rectangulo"> Flor de seis</div>
    <div class="productos">
        <div class="producto">
         Amanecer rosado | $300
         <img style="max-width: 40%; max-height: 40%;" src="../Statics/img/flor1.jpg">
            <button id="b1">Agregar</button>
        </div>
    <div class="producto">
        <p>Destellos de ternura | $150</p>
        <button id="b2">Agregar</button>
    </div>
    <div class="producto">
        <p>Ramo del recuerdo | $240</p>
        <button id="b3">Agregar</button>
    </div>
    <div class="producto">
        <p>Caricia de pétalos | $320</p>
        <button id="b4">Agregar</button>
    </div>
    <div class="producto">
        <p>Pétalos de Alba | $220</p>
        <button id="b5">Agregar</button>
    </div>
    <div class="producto">
        <p>Flor de luna | $200</p>
        <button id="b6">Agregar</button>
    </div>
    <div class="producto">
        <p>Corazón silvestre | $300</p>
        <button id="b7">Agregar</button>
    </div>
    <div class="producto">
        <p>Rosa pastel | $620</p>
        <button id="b8">Agregar</button>
    </div>
    <div class="producto">
        <p>Sueño floral | $180</p>
        <button id="b9">Agregar</button>
    </div>
        <div class="producto">
        <p>Dulce primavera | $300</p>
        <button id="b10">Agregar</button>
    </div>
    <div class="producto">
        <p>Brisa de amor | $700</p>
        <button id="b11">Agregar</button>
    </div>
        <div class="producto">
        <p>Rosa en eternidad | $400</p>
        <button id="b12">Agregar</button>
    </div>
    <div class="producto">
        <p>Encanto natural | $500</p>
        <button id="b13">Agregar</button>
    </div>
        <div class="producto">
        <p>Suspiro del rocío | $1000</p>
        <button id="b14">Agregar</button>
    </div>
    <div class="producto">
        <p>Noche de rosas | $2000</p>
        <button id="b15">Agregar</button>
    </div>
  </div>

  <div class="carrito">
    <h2>Carrito de compras</h2>
    <div id="carrito"></div>
        <p>Total del carrito: $<div id="total">0</p>
    </div>
  </div>
  <script src="..\Dynamics\tiendascript.js"></script>

</body>
</html>
